<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
   
	<!-- 게시판 글 작성 -->
	<insert id="board_write" parameterType="board">
		INSERT INTO BOARD (
			ID
			, SUBJECT
			, CONTENT
			, WRITE_DATE
		) VALUES (
			#{id}
			, #{subject}
			, #{content}
			, now()
		)
	</insert>
   
</mapper>